
  <h1 class="pt-5 pb-4">Welcome on my WebSite!</h1>

  <%= link_to "Add new citation", new_citation_path, class: "btn btn-success" %>

  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Citation</th>
        <th scope="col">Created at</th>
      </tr>
    </thead>
    <tbody>
      <% @citations.each do |f| %>
      <tr>
        <td><%= f.citation %></td>
        <td><b><%= f.created_at.strftime("%m %B %Y") %></b></td>
      </tr>
      <% end %>
    </table>
    <div class="container pagination justify-content-center" >
      <%= paginate @citations, pagination_class: "pagination-sm" %>
    </div>
